
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dtoes]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dtoes](
	[IntData] [int] IDENTITY(1,1) NOT NULL,
	[GuidData] [uniqueidentifier] NOT NULL,
	[StringData] [nvarchar](max) NULL,
	[BoolData] [bit] NOT NULL,
	[DateData] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Dtoes] PRIMARY KEY CLUSTERED 
(
	[IntData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestData]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestData](
	[IntData] [int] IDENTITY(1,1) NOT NULL,
	[GuidData] [uniqueidentifier] NOT NULL,
	[StringData] [nvarchar](50) NOT NULL,
	[BoolData] [bit] NOT NULL,
	[DateData] [datetime] NOT NULL,
 CONSTRAINT [PK_TestData] PRIMARY KEY CLUSTERED 
(
	[IntData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TestData] ON 

INSERT [dbo].[TestData] ([IntData], [GuidData], [StringData], [BoolData], [DateData]) VALUES (1, N'84bae2fb-cfa3-4671-97e2-d513b0bc88d5', N'79DF46FB-79DE-46F6-BC1D-B269E6EEB189', 0, CAST(N'2017-06-29 13:19:56.413' AS DateTime))
INSERT [dbo].[TestData] ([IntData], [GuidData], [StringData], [BoolData], [DateData]) VALUES (2, N'7d3a54f1-4cd8-46ac-b6aa-65b6933faeff', N'776C734A-C271-43CB-BF3E-0799E0D514BC', 1, CAST(N'2017-06-29 13:20:18.857' AS DateTime))
INSERT [dbo].[TestData] ([IntData], [GuidData], [StringData], [BoolData], [DateData]) VALUES (3, N'8b5247de-97f7-4ae7-a294-ce00950ff658', N'98458DD5-684B-4012-8429-9DEFB0FE6F90', 1, CAST(N'2017-06-29 13:20:18.963' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TestData] OFF
/****** Object:  StoredProcedure [dbo].[ExecuteNonQuery]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExecuteNonQuery]
	@OutputData int output,
	@IntData int, 
	@GuidData UniqueIdentifier, 
	@StringData nvarchar(50), 
	@BoolData bit, 
	@DateData datetime
AS
BEGIN

	Set @OutputData = 111

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllRecords]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllRecords]

AS
BEGIN

	SELECT * FROM TestData

END
GO
/****** Object:  StoredProcedure [dbo].[GetSingleRecord]    Script Date: 04/07/2017 12:09:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSingleRecord]
(
	@IntData			int
)
AS
BEGIN

	SELECT * FROM TestData
	WHERE IntData = @IntData

END
GO
